.site-header {
    text-align: left;
    padding: 10px; /* Adjust padding as needed */
    border-bottom: 1px solid #ccc; /* Solid black border */
}

/* Ensure the h1 inside the header doesn't have default margins that push your layout around */
.site-header h1 {
    margin: 0;
    font-size: 21px; /* Adjust font size as needed */
    color: #777
}

.blog-post {
    text-align: center;
    max-width: 800px; /* Adjust based on your preference */
    margin: auto;
    padding: 20px;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
}

.post-title {
    text-align: left;
}

.post-content {
    text-align: justify;
    margin-top: 0px;
}

/* Puts the Author and the Date on the same line, but author left aligned and date right aligned */
.author-date-container {
    display: flex;
    justify-content: space-between; /* This spreads out the children to either end */
    align-items: center; /* This vertically centers the items if their sizes differ */

    margin-bottom: 5px;
    font-style: italic;
}

.author, .date {
    margin: 0; /* Removes default margin from <p> tags */
    padding: 0; /* Adjust padding as necessary */
}

