{% extends 'base.html' %}

  <h1>{% block title %}Entry 2{% endblock %}</h1>

{% block content %}
  <div class="blog-post">
    <h2 class="post-title">Enjoy your 30s to lose your 40s and 50s</h2>
    <p class="post-author">By Alex</p>
    <div class="post-content">
        <p>Many people try to take the unconventional route to life and choose to “live out” their 30s to the fullest just as they would their 20s. To them it’s their last “hoorah” before the real life begins; without realizing the “real life” started 10 years earlier and the train has already passed and their left holding the ticket watching their friends and people from the hometown moving on to the next phase of life experiencing the greatest existential FOMO imaginable. They’ll tell themselves and others they would make their decision again and again no matter how many groundhog days they could re-live. Explanations of “career success” or “traveling the world” used to cover the feeling of missing out on a life they always looked down upon; taking every opportunity to visit their sisters’ kids assuring themselves that they're the “cool Aunt.”</p>
        <p>Life is a series of arcs where one shouldn’t get too caught up in one before moving on to the next. Infant stage through elementary school humans are learning to use their sensory organs and begin to make a physical mapping of the world and learn the basics of social interactions. Middle school through sophomore year of high school they enter a new world of consciousness. They begin to see the social competition that is life but on a smaller controlled environmental scale. Hormones bring in the feelings of love, hate, jealousy, etc. From late high school through most of college humans are gifted independence and can take or do with it what they will. But for all of them they become cognizant of the social competition outside of their hometown. They will begin to take an interest in topics that have no direct impact on themselves but are nonetheless seemingly fulfilling. </p>
        <p>(more text)</p>
        <p>But no matter how many times you look at your framed MBA from a top business school above your bedframe you’ll never be able to get past the pure dread of your future and the increasing jealousy of the coworkers who get to leave work early to hop in their mini van to take their kids from daycare to soccer practice.</p>
        
        <p>More content here...</p>
    </div>
</div>
{% endblock %}