<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Another Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">Welcome to Another Blog</h1>
            <!-- <h1 class="title">Welcome to Minimalist Blog</h1> -->
            <p class="description">A place for armchair philosophers.</p>
        </div>
        <div class="sidebar">
            <h2>Recent Entries</h2>
            <ul class="entry-list">
                {% for post in posts[:30] %}
                    <li><a href="{{ url_for('post', post_id=post.id) }}">Entry {{ loop.index0 }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="archives-link">
        <a href="/archives">Archives</a>
    </div>
    <!-- <div class="footer" style="text-align: left; bottom: 0;">
        <a href="/archives">Archives</a>
    </div> -->
</body>
</html>

